
<script src="https://kit.fontawesome.com/03c389e60d.js" crossorigin="anonymous"></script>
  
  <section class="trial-block shadow3" id="ContactUs">
      <div class="social-overlap process-scetion mt100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="social-bar">
                <div class="social-icons mb-3 iconpad text-center">
                  <a class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                  <a class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
                  <a class="slider-nav-item"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com/praveen__kumar__8409?igsh=MW1uNHZ6amR4emQ0" target="_blank" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/praveen-saw-a5a09b27b/" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                  <a href="https://github.com/praveen8409" target="_blank" class="slider-nav-item"><i class="fa-brands fa-github"></i>                  </i></a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>


