<%- include('partials/header'); -%>

<form>
    <h2>Login</h2>
        <label for="email">Email</label>
        <input type="email" name="email">
        <div class="email-error"></div>
        <label for="password">Password</label>
        <input type="text" name="password">
        <div class="password-error"></div>
        <button>LogIn</button>

</form>

<script src="js/login.js"></script> 

<%- include('partials/socialIcon'); -%>


<%- include('partials/footer'); -%>