<%- include('partials/header'); -%>

    <form>
        <h2>SIGNUP</h2>
        <label for="name">Name</label>
        <input type="text" name="name">
        <div class="name-error"></div>
        <label for="email">Email</label>
        <input type="text" name="email">
        <div class="email-error"></div>
        <label for="password">Password</label>
        <input type="text" name="password">
        <div class="password-error"></div>
        <button>SignUp</button>

    </form>
    <script src="js/signup.js"></script> 
   
    <%- include('partials/footer'); -%>