<%- include('partials/header'); -%>


<div class="container">
    <header>
        <h1>NotSoLong</h1>
        <p>Shorten your lengthy URLs in a snap!!</p>
    </header>
    <main>
        <input type="url" id="originalUrl" placeholder="Enter your long URL here">
        <input type="text" id="urlName" placeholder="Enter URL name">
        <button id="shortenBtn">Shorten</button>
        <div id="result"></div>
    </main>
    <script src="js/url.js"></script>
</div>
<button>
    <a href="/list" target="_blank" style="text-decoration: none; color: inherit;">
      Show Your Short URLs
    </a>
  </button>

<!-- <div class="animation">
    <h2>Url List</h2>
    <p><a href="/list">View All URLs</a></p>
</div> -->

<%- include('partials/socialIcon'); -%>


<%- include('partials/footer'); -%>